.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backround-img{
 
  width: 50%;
  height: auto;
}

.background-img img{
  z-index: -1;
  height: 56em;
  width: 100%;
  position: relative;
  right:3em ;
}
.justify-content-space{
  justify-content: space-around;
}
.login-content{
  width: 65em;
  position: relative;
  left: 39em;
  top:5em
}
.login{
  width: 65em;
  position: relative;
  left: 25em;
  top:5em
}